<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.allansimon.verbiste" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Verbiste</name>
    <description>Application to conjugate and deconjugate french verbs</description>
    <author email="allan.simon@supinfo.com" href="https://cordova.apache.org">
        Allan Simon
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
